---
layout: base
permalink: /
---

<header>
  <div class="block b-head p-b p-t-0">
    <div class="container m-t-0">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/logo.png" width="70" alt="logo" class="pull-left m-t m-r">
          <small class="pull-left p-t-md">Интенсивное обучение фитнес-тренеров<br/>английскому языку</small>
        </div>
        <div class="col-sm-6">
          <h3 class="pull-right m-t-md">{{ site.company.phone }}</h3>
        </div>
      </div>
    </div>

    <div class="container m-y-lg p-y-lg p-x-lg text-center">
      <h1 class="m-y b-head__title">Практический курс по&nbsp;подготовке <nobr>фитнес-тренеров</nobr> к&nbsp;работе за&nbsp;рубежом</h1>
      <p class="lead">Автор курса Ольга Череватенко</p>
      <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-primary btn-lg m-t">Записаться на&nbsp;консультацию чтобы узнать больше о курсе</button> 
    </div>
  </div> <!-- /.b-head -->
</header>

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Хотите уехать?</h2>

        <p class="lead text-center">Подготовлю вас к&nbsp;интервью для трудоустройства в&nbsp;зарубежной компании</p>

        <p>Составим резюме на&nbsp;английском
        <br/>Подготовим cover letter и&nbsp;рекомендательные письма
        <br/>Интервью будет «отскакивать от&nbsp;зубов»
        <br/>Сможете устроиться на работу</p>
        <p><b>&laquo;Теперь тренирую клиентов на&nbsp;круизном лайнере&raquo;</b></p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Не&nbsp;хотите уезжать?</h2>

        <p class="lead text-center">Начнёте свободно общаться с&nbsp;англоязычными клиентами фитнес-клуба</p>

        <p>Сможете тренировать дипломатов и иностранных бизнесменов
        <br/>Будете знать весь сленг фитнес-тренера
        <br/>Начнёте чувствовать себя увереннее
        <br/>Поднимете цену на&nbsp;тренировки</p>

        <p><b>&laquo;Единственный англоговорящий тренер в&nbsp;сети спортзалов нашего города&raquo;</b></p>
      </div> 
    </div> 
  </div>
</div> <!-- /.b-what -->


<div class="block b-flag">
  <div class="container">
    <h2>Только практический английский</h2>
    <p class="lead">Мы&nbsp;не&nbsp;будем учить, что London is&nbsp;the capital of&nbsp;the Great Britain</p>

    <div class="row">
      <div class="col-md-6">
        <h4>Прохождение интервью</h4>
        <p>Ответы на&nbsp;100 возможных вопросов, которые могут задать на&nbsp;интервью</p>
      </div>
      <div class="col-md-6">
        <h4>Объяснение упражнений клиентам</h4>
        <p>Выучим, как объяснять клиентам правильные формы упражнений</p>
      </div>
      <div class="col-md-6">
        <h4>Мотивационные речи</h4>
        <p>Подготовим мотивационные речи про питание и&nbsp;про&nbsp;то, какие клиенты получат результаты</p>
      </div>
    </div>
  </div>
</div>


<div class="block b-scheme">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="b-scheme__title m-b-lg text-center">Помогу вывести карьеру<br/>на&nbsp;новый уровень</h2>
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">1</div>
          <h4>Карьерный рост</h4>
          <p class="lead">Пробейте потолок, которого достигли в&nbsp;своём спортзале</p>
        </div>
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">2</div>
          <h4>Путешествия</h4>
          <p class="lead">Путешествуйте занимаясь любимым делом&nbsp;&mdash; тренировками</p>
        </div>
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">3</div>
          <h4>Работа за границей</h4>
          <p class="lead">Получайте опыт работы за&nbsp;границей по&nbsp;своей специальности</p>
        </div>
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">4</div>
          <h4>Иностранные клиенты</h4>
          <p class="lead">Работайте с&nbsp;иностранными клиентами&nbsp;&mdash; бизнесменами, туристами, дипломатами</p>
        </div>
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">5</div>
          <h4>Больше денег</h4>
          <p class="lead">Зарабатывайте больше благодаря своей квалификации</p>
        </div>
        <p class="lead m-t-lg text-center">А&nbsp;если вы&nbsp;пока ещё студент физкультурного института&nbsp;&mdash; получайте стажировку или продолжайте учёбу за&nbsp;рубежом!</p>
      </div>
    </div>
  </div>
</div> <!-- /.b-scheme -->



<div class="block block-inverse b-confidence">
  <div class="container text-center">
    <h2>Получите уверенность не&nbsp;только в&nbsp;своём теле,<br/>но&nbsp;и&nbsp;в&nbsp;своём общении</h2>

    <p class="lead">Вы&nbsp;обретете уверенность в&nbsp;себе, и&nbsp;сможете вести тренировки на английском</p>
  </div>
</div>


<div class="block b-mentor">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="b-mentor__title m-b-lg">Курс ведёт Ольга Череватенко</h2>

        <ul class="b-mentor__list">
          <li>Персональный и&nbsp;корпоративный фитнес тренер</li>
          <li>Владелица своей студии Smart Fit Training в&nbsp;штате Орегон</li>
          <li>Имеет сертификат &laquo;Иммиграционные законы США&raquo;</li>
          <li>Работала помощником Консула в&nbsp;Посольстве США</li>
        </ul>

        <blockquote class="m-t-lg">&laquo;Опыт работы в&nbsp;Посольстве с&nbsp;документами, требующими тщательной проверки, привил мне черту делать все очень аккуратно, на&nbsp;результат. Поэтому я&nbsp;каждого довожу до&nbsp;результата: личных клиентов до&nbsp;их&nbsp;фитнес целей, и&nbsp;моих коллег тренеров к&nbsp;их&nbsp;профессиональным и&nbsp;личным целям.&raquo;</blockquote>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <img src="/images/olga.jpg" alt="photo" class="b-mentor__image shadow">
        <p class="m-y-md">Ольга Череватенко&nbsp;&mdash; автор курса</p>
      </div>
    </div>
  </div>
</div> <!-- /.b-mentor -->


<div class="block b-join p-t-0">
  <div class="container">
    <div class="b-join__content p-y-lg p-x-lg">
      <h2>Запишитесь на&nbsp;бесплатную консультацию чтобы узнать больше о&nbsp;курсе</h2>
      <div class="row">
        <div class="col-md-6">
          <p>Практический курс &laquo;Фитнес-тренер без границ&raquo; по&nbsp;подготовке фитнес-тренеров к&nbsp;работе за&nbsp;рубежом стартует 9&nbsp;января.</p>

          <p>Первое занятие курса&nbsp;&mdash; бесплатная консультация, на&nbsp;которой Ольга лично расскажет вам про формат курса и&nbsp;возможные варианты участия.</p>

          <p>Если вы&nbsp;хотите уехать, или просто вырасти как фитнес-тренер, запишитесь на&nbsp;консультацию.</p>
        </div>
        <div class="col-md-6">
          <div class="form-well">
            {% include form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Записаться на консультацию</h4>
      </div>
      <div class="modal-body">
        {% include form.html %}
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="block b-footer m-t-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>{{ site.company.phone }}</p>
          <p>{{ site.company.email }}</p>
        </div>
        <div class="col-md-4 m-b">
          <div id="vk_groups"></div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <p>{{ site.company.name }}, <nobr>г. {{ site.company.city }},</nobr> <nobr>{{ site.company.street }}</nobr></p>
          <p><a href="http://soedinennost.com/privacy">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", {{ site.vk_group_id }}, {});
</script>

<!-- VK Widget -->
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "auto"}, {{ site.vk_group_id }});
</script>
